version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "docs"
    schedule:
      interval: "quarterly"
    cooldown:
      default-days: 7
    groups:
      docs-patches:
        update-types:
        - patch
