h5py/h5*.c
h5py/utils.c
h5py/_conv.c
h5py/_conv.pyx
h5py/_npystrings.c
h5py/_npystrings.pyx
h5py/_objects.pyx
h5py/_proxy.c
h5py/_proxy.pyx
h5py/_objects.c
h5py/_errors.c
h5py/_errors.pyx
h5py/_errors.pxd
h5py/_selector.c
h5py/api_types_ext.pxd
h5py/api_types_hdf5.pxd
h5py/h5.pyx
h5py/h5d.pyx
h5py/h5f.pyx
h5py/h5fd.pyx
h5py/h5i.pyx
h5py/h5p.pyx
h5py/h5r.pxd
h5py/h5t.pyx
h5py/_hdf5.*
h5py/*.dll
h5py/*.so
*.hdf5
h5config.json
h5py/defs.*
build/
*.pyc
*.pyd
dist/
MANIFEST
.DS_Store
/docs/_build
/docs_api/_build
/.tox
/h5py.egg-info
/*.egg
/.asv
.eggs/
*.so
*~
*.swp
.pytest_cache
.coverage
.coverage_dir
coverage.xml
.vscode/
.mypy_cache/
/cache/

# Rever
rever/
.idea/
