h5py/h5*.c
h5py/utils.c
h5py/_conv.c
h5py/_proxy.c
h5py/_objects.c
h5py/_errors.c
h5py/config.pxi
h5py/_hdf5.*
h5py/*.dll
*.hdf5
*.pkl
h5py/defs.*
build/
*.pyc
dist/
MANIFEST
.DS_Store
/docs/_build
/docs_api/_build
/.tox
/h5py.egg-info
/*.egg
.eggs/
*.so
*~