# from matplotlib's azure setup

variables:
  HDF5_CACHE_DIR: $(Pipeline.Workspace)/cache/hdf5
  PIP_CACHE_DIR: $(Pipeline.Workspace)/cache/pip
  CCACHE_DIR: $(Pipeline.Workspace)/cache/ccache

jobs:
- job: 'static_checks'
  pool:
    vmImage: ubuntu-20.04
  variables:
    TOXENV: docs,checkreadme,rever
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
        architecture: 'x64'
    - script: |
        pip install tox
      displayName: Install tox
    - script: |
        tox
      displayName: tox

- job: 'linux_wheels'
  pool:
    vmImage: ubuntu-20.04
  variables:
    CIBW_BUILD: cp3{8,9,10,11,12}-manylinux_x86_64
    CIBW_MANYLINUX_X86_64_IMAGE: ghcr.io/h5py/manylinux2014_x86_64-hdf5
    # Include less debugging info for smaller wheels (default is -g2)
    CIBW_ENVIRONMENT: "CFLAGS=-g1"
  steps:
    - template: ci/azure-pipelines-wheels.yml
      parameters:
        platform: linux

- job: 'windows_wheels'
  pool:
    vmImage: windows-2019
  variables:
    HDF5_VERSION: 1.14.2
    HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
    HDF5_VSVERSION: "16-64"
    CIBW_BUILD: cp3{8,9,10,11,12}-win_amd64
  steps:
    - template: ci/azure-pipelines-wheels.yml
      parameters:
        platform: windows

- job: 'macos_wheels'
  pool:
    vmImage: macOS-11
  variables:
    MACOSX_DEPLOYMENT_TARGET: 10.9
    HDF5_VERSION: 1.12.2
    H5PY_ROS3: '0'
    H5PY_DIRECT_VFD: '0'
    HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
    CIBW_BUILD_VERBOSITY_MACOS: 3
    CIBW_ARCHS_MACOS: $(arch)
    CIBW_BUILD: cp3{8,9,10,11,12}-macosx_*
    CIBW_ENVIRONMENT_MACOS: LD_LIBRARY_PATH="$(HDF5_CACHE_DIR)/$(HDF5_VERSION)/lib:${LD_LIBRARY_PATH}" PKG_CONFIG_PATH="$(HDF5_CACHE_DIR)/$(HDF5_VERSION)/lib/pkgconfig:${PKG_CONFIG_PATH}"
    CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
      DYLD_FALLBACK_LIBRARY_PATH=$(HDF5_CACHE_DIR)/$(HDF5_VERSION)/lib delocate-listdeps {wheel} &&
      DYLD_FALLBACK_LIBRARY_PATH=$(HDF5_CACHE_DIR)/$(HDF5_VERSION)/lib delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}
  strategy:
    matrix:
      x86_64:
        arch: 'x86_64'
      arm64:
        arch: 'arm64'
  steps:
    - template: ci/azure-pipelines-wheels.yml
      parameters:
        platform: macos_$(arch)

- job: 'ubuntu'
  pool:
    vmImage: ubuntu-20.04
  strategy:
    matrix:
      # -deps : test with default (latest) versions of dependencies
      # -mindeps : test with oldest supported version of (python) dependencies
      # -deps-pre : test pre-release versions of (python) dependencies)
      # -tables : also check compatibility with pytables
    # HDF5 installed from apt on Ubuntu
    # test when we're not in a unicode locale
      py38-Clocale:
        python.version: '3.8'
        TOXENV: py38-test-deps
        TOX_TESTENV_PASSENV: LANG LC_ALL
        LANG: C
        LC_ALL: C
        H5PY_ENFORCE_COVERAGE: yes
    # Build HDF5 1.10 or 1.12 in the test environment
      py38-deps-hdf51107:
        python.version: '3.8'
        TOXENV: py38-test-deps
        HDF5_VERSION: 1.10.7
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
      py38-deps-hdf51120:
        python.version: '3.8'
        TOXENV: py38-test-deps
        HDF5_VERSION: 1.12.0
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
      py39-deps-hdf51122:
        python.version: '3.9'
        TOXENV: py39-test-deps
        HDF5_VERSION: 1.12.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
      py310-deps-hdf51142:
        python.version: '3.10'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.14.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
    # do mpi tests
      py39-deps-hdf51105-mpi:
        python.version: '3.9'
        TOXENV: py39-test-mindeps-mpi4py
        HDF5_VERSION: 1.12.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_MPI: ON
        CC: mpicc
    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: linux
        installer: apt
        shell: unix



- job: 'test_linux_wheels'
  dependsOn: linux_wheels
  pool:
    vmImage: ubuntu-20.04
  variables:
    H5PY_TEST_CHECK_FILTERS: 1

  strategy:
    matrix:
      py38:
        python.version: '3.8'
        TOXENV: py38-test-deps,py38-test-mindeps,py38-test-deps-pre
        WHL_FILE: h5py*-cp38-*manylinux2014_x86_64.whl
      py39:
        python.version: '3.9'
        TOXENV: py39-test-deps,py39-test-mindeps,py39-test-deps-pre
        WHL_FILE: h5py*-cp39-*manylinux2014_x86_64.whl
      py310:
        python.version: '3.10'
        TOXENV: py310-test-deps,py310-test-mindeps,py310-test-deps-pre
        WHL_FILE: h5py*-cp310-*manylinux2014_x86_64.whl
      py311:
        python.version: '3.11'
        TOXENV: py311-test-deps,py311-test-mindeps,py311-test-deps-pre
        WHL_FILE: h5py*-cp311-*manylinux2014_x86_64.whl
      py312:
        python.version: '3.12'
        TOXENV: py312-test-deps,py312-test-mindeps,py312-test-deps-pre
        WHL_FILE: h5py*-cp312-*manylinux2014_x86_64.whl

  steps:
    - template: ci/azure-pipelines-test-wheels.yml
      parameters:
        platform: linux


- job: 'Windows'
  pool:
    vmImage: windows-2019
  strategy:
    matrix:
    # -deps : test with default (latest) versions of dependencies
    # -mindeps : test with oldest supported version of (python) dependencies
    # -deps-pre : test pre-release versions of (python) dependencies)
    #
    # 64 bit - HDF5 1.10
      py39-hdf5110:
        python.version: '3.9'
        TOXENV: py39-test-deps,py39-test-mindeps,py39-test-deps-pre
        HDF5_VERSION: 1.10.6
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "16-64"
        H5PY_ENFORCE_COVERAGE: yes
    # 64 bit - HDF5 1.12
    # Fewer combinations here; test_windows_wheels also tests HDF5 1.12
      py38-hdf5112:
        python.version: '3.8'
        TOXENV: py38-test-deps
        HDF5_VERSION: 1.12.0
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "16-64"
        H5PY_ENFORCE_COVERAGE: yes
    # 64 bit - HDF5 1.14
      py310-hdf5114:
        python.version: '3.10'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.14.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "16-64"
        H5PY_ENFORCE_COVERAGE: yes
    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: windows
        installer: nuget
        shell: cmd

- job: 'test_windows_wheels'
  dependsOn: windows_wheels
  pool:
    vmImage: windows-2019
  variables:
    H5PY_TEST_CHECK_FILTERS: 1

  strategy:
    matrix:
      py38:
        python.version: '3.8'
        TOXENV: py38-test-deps,py38-test-mindeps,py38-test-deps-pre
        WHL_FILE: h5py*-cp38-*.whl
      py39:
        python.version: '3.9'
        TOXENV: py39-test-deps,py39-test-mindeps,py39-test-deps-pre
        WHL_FILE: h5py*-cp39-*.whl
      py310:
        python.version: '3.10'
        TOXENV: py310-test-deps,py310-test-mindeps,py310-test-deps-pre
        WHL_FILE: h5py*-cp310-*.whl
      py311:
        python.version: '3.11'
        TOXENV: py311-test-deps,py311-test-mindeps,py311-test-deps-pre
        WHL_FILE: h5py*-cp311-*.whl
      py312:
        python.version: '3.12'
        TOXENV: py312-test-deps,py312-test-mindeps,py312-test-deps-pre
        WHL_FILE: h5py*-cp312-*.whl

  steps:
    - template: ci/azure-pipelines-test-wheels.yml
      parameters:
        platform: windows

- job: 'macOS11'
  pool:
    vmImage: macOS-11
  strategy:
    matrix:
      # -deps : test with default (latest) versions of dependencies
      # -mindeps : test with oldest supported version of (python) dependencies
      # -deps-pre : test pre-release versions of (python) dependencies)
      py38:
        python.version: '3.8'
        TOXENV: py38-test-deps,py38-test-mindeps,py38-test-deps-pre
        H5PY_ENFORCE_COVERAGE: yes
      py310:
        python.version: '3.10'
        TOXENV: py310-test-deps
        H5PY_ENFORCE_COVERAGE: yes
    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: macos
        installer: brew
        shell: unix

- job: 'test_macos_wheels'
  dependsOn: macos_wheels
  pool:
    vmImage: macOS-11
  variables:
    H5PY_TEST_CHECK_FILTERS: 1

  strategy:
    matrix:
      py38:
        python.version: '3.8'
        TOXENV: py38-test-deps,py38-test-mindeps,py38-test-deps-pre
        WHL_FILE: h5py*-cp38-*.whl
      py39:
        python.version: '3.9'
        TOXENV: py39-test-deps,py39-test-mindeps,py39-test-deps-pre
        WHL_FILE: h5py*-cp39-*.whl
      py310:
        python.version: '3.10'
        TOXENV: py310-test-deps,py310-test-mindeps,py310-test-deps-pre
        WHL_FILE: h5py*-cp310-*.whl
      py311:
        python.version: '3.11'
        TOXENV: py311-test-deps,py311-test-mindeps,py311-test-deps-pre
        WHL_FILE: h5py*-cp311-*.whl
      py312:
        python.version: '3.12'
        TOXENV: py312-test-deps,py312-test-mindeps,py312-test-deps-pre
        WHL_FILE: h5py*-cp312-*.whl

  steps:
    - template: ci/azure-pipelines-test-wheels.yml
      parameters:
        platform: macos_x86_64
