# from matplotlib's azure setup

variables:
  HDF5_CACHE_DIR: $(Pipeline.Workspace)/cache/hdf5
  PIP_CACHE_DIR: $(Pipeline.Workspace)/cache/pip
  CCACHE_DIR: $(Pipeline.Workspace)/cache/ccache

jobs:
- job: 'static_checks'
  pool:
    vmImage: ubuntu-22.04
  variables:
    TOXENV: checkreadme,checkmanifest,pre-commit
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'
        architecture: 'x64'
    - script: |
        pip install tox
      displayName: Install tox
    - script: |
        tox
      displayName: tox

- job: 'ubuntu'
  pool:
    vmImage: ubuntu-22.04
  strategy:
    matrix:
      # -deps : test with default (latest) versions of dependencies
      # -mindeps : test with oldest supported version of (python) dependencies
      # -deps-pre : test pre-release versions of (python) dependencies)
      # -tables : also check compatibility with pytables
    # HDF5 installed from apt on Ubuntu
    # test when we're not in a unicode locale
      py310-Clocale:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        TOX_TESTENV_PASSENV: LANG LC_ALL
        LANG: C
        LC_ALL: C
        H5PY_ENFORCE_COVERAGE: yes
    # Build HDF5 1.10, 1.12 or 1.14 in the test environment
      py310-deps-hdf51107:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.10.7
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
      py310-deps-hdf51122:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.12.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
      py310-deps-hdf51146:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.14.6
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
    # do mpi tests
      py310-deps-hdf51122-mpi:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-mindeps-mpi
        HDF5_VERSION: 1.12.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_MPI: ON
        CC: mpicc
    # Latest python version
      py313-deps-hdf51146:
        python.version: '3.13'
        python.architecture: 'x64'
        TOXENV: py313-test-deps
        HDF5_VERSION: 1.14.6
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes
    # Free-threading (noGIL) Python
      py313t-deps-hdf51146:
        python.version: '3.13'
        python.architecture: 'x64-freethreaded'

        # FIXME it was decided to not mark the module as freethreading-compatible
        # for the time being due to instability concerns.
        # See matching FIXMEs in pyproject.toml and setup_build.py.
        PYTHON_GIL: 0

        TOXENV: py313t-test-deps
        HDF5_VERSION: 1.14.6
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        H5PY_ENFORCE_COVERAGE: yes

    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: linux
        installer: apt
        shell: unix

- job: 'Windows'
  pool:
    vmImage: windows-2022
  strategy:
    matrix:
    # -deps : test with default (latest) versions of dependencies
    # -mindeps : test with oldest supported version of (python) dependencies
    # -deps-pre : test pre-release versions of (python) dependencies)
    #
    # 64 bit - HDF5 1.10
      py310-hdf5110:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps,py310-test-mindeps,py310-test-deps-pre
        HDF5_VERSION: 1.10.7
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "17-64"
        H5PY_ENFORCE_COVERAGE: yes
    # 64 bit - HDF5 1.12
    # Fewer combinations here; test_windows_wheels also tests HDF5 1.12
      py310-hdf5112:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.12.1
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "17-64"
        H5PY_ENFORCE_COVERAGE: yes
    # 64 bit - HDF5 1.14
      py310-hdf5114:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        HDF5_VERSION: 1.14.2
        HDF5_DIR: $(HDF5_CACHE_DIR)/$(HDF5_VERSION)
        HDF5_VSVERSION: "17-64"
        H5PY_ENFORCE_COVERAGE: yes
    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: windows
        installer: nuget
        shell: cmd

- job: 'macOS'
  pool:
    vmImage: macOS-latest
  timeoutInMinutes: 70  # 60 is a little short for macOS sometimes
  strategy:
    matrix:
      # -deps : test with default (latest) versions of dependencies
      # -mindeps : test with oldest supported version of (python) dependencies
      # -deps-pre : test pre-release versions of (python) dependencies)
      py310:
        python.version: '3.10'
        python.architecture: 'x64'
        TOXENV: py310-test-deps
        H5PY_ENFORCE_COVERAGE: yes
    maxParallel: 4

  steps:
    - template: ci/azure-pipelines-steps.yml
      parameters:
        platform: macos
        installer: brew
        shell: unix
