recursive-include h5py *.h *.pyx *.pxd *.pxi *.py *.txt
exclude h5py/defs.pyx
exclude h5py/defs.pxd
exclude h5py/config.pxi
recursive-include examples *.py
recursive-include lzf *
recursive-include windows *
recursive-include licenses *
include MANIFEST.in
include api_gen.py
include setup_build.py
include setup_configure.py
include ANN.rst
include README.rst
recursive-include docs *
prune docs/_build
recursive-include docs_api *
prune docs_api/_build
recursive-exclude * .DS_Store
