include MANIFEST.in
include LICENSE.txt
include README.txt
include INSTALL.txt
recursive-include h5py *.py *.pyx *.pxd
recursive-include h5py *.h *.c *.hdf5
recursive-include licenses *
recursive-include docs *

