
@import url("agogo.css");

/* Agogo lists are all scrunched up */
ul.simple {
    margin: 10px;
}

/* No more plain HTML tables */
table.docutils {
    
    border-collapse: collapse;
    border: 1px #555;
}

table.docutils td {
    padding: 4px;
}

/* Italic links are distracting to read */
a.reference em {
    font-style: normal;
}


dl.function dt {
    background-color: #f0f0f0;
}

dl.method dt {
    background-color: #f0f0f0;
}

dl.attribute dt {
    background-color: #f0f0f0;
}

dl.docutils dt {
    background-color: #fff;
    text-decoration: underline;
}
