parameters:
  platform: none
  installer: none

steps:
- task: Cache@2
  displayName: HDF5 cache
  inputs:
    # The key should specify enough to avoid restoring an incompatible build.
    # Increment the first number to clear the cache if you change something
    # not captured by the key, e.g. dependencies.
    ${{ if eq(parameters.platform, 'windows') }}:
      key: 0 | HDF5 | "$(Agent.OS)" | "$(Agent.OSArchitecture)" | "$(HDF5_VERSION)" | "$(HDF5_VSVERSION)" | "$(HDF5_MPI)" | ci/get_hdf5_win.py
    ${{ if ne(parameters.platform, 'windows') }}:
      key: 0 | HDF5 | "$(Agent.OS)" | "$(Agent.OSArchitecture)" | "$(HDF5_VERSION)" | "$(HDF5_MPI)" | ci/get_hdf5_if_needed.sh
    path: $(HDF5_CACHE_DIR)
  condition: and(succeeded(), ne(variables['HDF5_VERSION'], ''))

- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
    architecture: '$(python.architecture)'
    allowUnstable: true
    # GH 'classic' PAT token, set as a secret variable in Azure pipeline config.
    # Max validity 1 year. Used for Python builds not already installed on Azure.
    githubToken: '$(githubToken)'  # Last changed 2025-09-24
  displayName: 'Use Python $(python.version) $(python.architecture)'
  condition: and(succeeded(), ne(variables['python.version'], 'Pre'))

  #- task: stevedower.python.InstallPython.InstallPython@1
  #  displayName: 'Use prerelease Python'
  #  inputs:
  #    prerelease: true
  #  condition: and(succeeded(), eq(variables['python.version'], 'Pre'))

- ${{ if eq(parameters.platform, 'windows') }}:
  - bash: |
      ci/get_zlib_amd64.sh "$(build.BinariesDirectory)/zlib-win-x64"
      echo "##vso[task.prependpath]$(build.BinariesDirectory)/zlib-win-x64/bin"
      echo "##vso[task.setvariable variable=CL]/I$(build.BinariesDirectory)/zlib-win-x64/include"
      echo "##vso[task.setvariable variable=LINK]/LIBPATH:$(build.BinariesDirectory)/zlib-win-x64/lib"
      echo "##vso[task.setvariable variable=ZLIB_ROOT]$(build.BinariesDirectory)/zlib-win-x64"
    displayName: "Build zlib from source"
    
- ${{ if eq(parameters.installer, 'brew') }}:
  - script: |
      brew install pkg-config hdf5 ccache open-mpi
      brew link --force hdf5
      ls /usr/local
      echo "$PATH"
    displayName: 'Install brew dependencies'
- ${{ if eq(parameters.installer, 'apt') }}:
  - script: |
      sudo apt-get update
      sudo apt-get install ccache openmpi-bin libopenmpi-dev
    displayName: 'Install apt dependencies'
    condition: and(succeeded(), eq(variables['HDF5_MPI'], 'ON'))
- ${{ if eq(parameters.installer, 'apt') }}:
  - script: |
      sudo apt-get update
      sudo apt-get install libhdf5-serial-dev
    displayName: 'Install HDF5 via apt'
    # If HDF5_DIR is specified, HDF5 is built from source, so don't get it from apt
    condition: and(succeeded(), eq(variables['HDF5_DIR'], ''))

- script: |
    python -m pip install --upgrade pip
    pip install tox codecov
  displayName: 'Install pip dependencies'

- script: env
  displayName: 'print env'

- ${{ if eq(parameters.shell, 'unix') }}:
    - script: |
        ./ci/get_hdf5_if_needed.sh
      displayName: 'ensure HDF5'
- ${{ if eq(parameters.shell, 'cmd') }}:
    - script: |
        py -3.10 -m pip install requests
        py -3.10 ci\\get_hdf5_win.py
      displayName: 'ensure HDF5'

- script: env
  displayName: 'print env'

- script: |
    tox
  displayName: 'tox'

- task: PythonScript@0
  inputs:
    scriptSource: 'filePath'
    scriptPath: 'ci/upload_coverage.py'
    arguments: --codecov-token 813fb6da-087d-4b36-a185-5a530cab3455
  displayName: 'codecov'
